@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
main-menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    margin: 0;
	padding: 0;
    color: #333;
    line-height: 1.5;
}

body {
    font-family: NanumSquare,Sans-serif;
    width: 1340px;
}

.main-menu{
    margin: 88px auto 100px;
    width: 1200px;
}

.title{
    margin-bottom: 50px;
}

.content{
    margin: 0 auto;
    width: 1200px;
}

h2{
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -1.26px;
    line-height: 50px;
}

.title p{
    border-top: 1px solid #d2d2d2;
    margin-top: 20px;
    padding-top: 20px;
}

ul{
	list-style: none;
}

.list > ul{
    display: flex;
    gap: 20px;
}

.list > ul > li{
    box-shadow: 4px 6.9px 11px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
    width: 285px;
    height: 424px;
    padding: 60px 25px 0;
    position: relative;
}

.list.first > ul > li:first-child{
    background: #CDF0EA;
}

.list.first > ul > li:nth-child(2){
    background: #F9F9F9;
}

.list.first > ul > li:nth-child(3){
    background: #F6C6EA;
}

.list.first > ul > li:last-child{
    background: #FAF4B7;
}

.list.second > ul > li:first-child{
    background: #CDF0EA;
    padding-top: 46px;
}

.list.second > ul > li:nth-child(2){
    background: #F6C6EA;
    padding-top: 46px;
}

.list.second > ul > li:last-child{
    background: #FAF4B7;
    padding-top: 46px;
}

img{
    vertical-align: top;
}

.badge{
    display: block;
    padding-bottom: 16px;
}

.dark{
    background: #40210f;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    margin-top: 16px;
    padding: 4px 7px;
}

.light{
    background: #946134;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 15px;
    margin-top: 16px;
    padding: 4px 7px;
}

.description{
    color: #1e1210;
    font-size: 15px;
    font-weight: 700;
    margin-top: 19px;
}

.list.second > ul > li > .description{
    font-size: 17px;
    margin-top: 32px
}

.shot{
    bottom: 20px;
    right: 61px;
    position: absolute;
}

.coffee{
    bottom: 26px;
    right: 25px;
    position: absolute;
}

.list.second > ul > li > .coffee{
    bottom: 0;
    right: 0;
}

.information{
    align-items: center;
    display: flex;
    gap: 15px;
    margin-top: 40px;
}

.information > p{
    font-size: 13px;
    font-weight: 700;
}

.information span{
    color: #27620a;
}

a{
    text-decoration: none;
}

.main-menu.third{
    /* height: 500px; */
    position: relative;
}

.main-menu-bar{
    /* left: 50%;
    margin-left: -600px; */
    position: absolute;
}

.main-menu-bar > ul > li > a{
    font-family: Century Gothic,Apple SD Gothic Neo,Sans-serif;
    display: inline-block;
    width: 185px;
    font-size: 20px;
    padding: 17px 23px 17px 0;
    /* position: relative; */
}

.main-menu-bar > ul > li > a:hover{
    font-weight: 700;
    /* opacity: 0; */
}

.main-menu-list{
    float: right;
    /* width: 930px; */
    /* position: relative; */
    /* overflow: hidden; */
}

/* .main-menu-list > ul{
    float: left;
    width: 100%;
} */

.main-menu-list > ul > li{
    background: #ececec;
    box-sizing: border-box;
    float: left;
    width: 300px;
    height: 475px;
    margin: 0 15px 15px 0;
    /* overflow: hidden; */
    padding: 0 25px;
    position: relative;
}

.main-menu-list img{
    width: 250px;
    height: 250px;
    margin-top: 50px;
    position: relative;
}

.main-menu-list p{
    bottom: 0;
    width: 100%;
    height: 110px;
    left: 0;
    text-align: center;
    font-size: 15px;
    position: absolute;
}

.main-menu-list p b{
    display: block;
}